[submodule "eureka-server"]
	path = eureka-server
	url = git@github.com:Ivo-jose/eureka-server.git
[submodule "ms-customer"]
	path = ms-customer
	url = git@github.com:Ivo-jose/ms-customer.git
[submodule "ms-gateway-customer-card"]
	path = ms-gateway-customer-card
	url = git@github.com:Ivo-jose/ms-gateway-customer-card.git
[submodule "ms-cards"]
	path = ms-cards
	url = git@github.com:Ivo-jose/ms-cards.git
